@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* GLOBAL STYLES */
:root {
  --background: #222831;
  --accent: #00adb5;
  --on-accent: #222831;
  --on-tile: #ffffff;
  --on-background: #ffffff;
  --border: 1px solid var(--on-background);
}

body {
  background: var(--background);
  color: var(--on-background);
  font: 300 20px/1 Lato, Arial, Helvetica, sans-serif;
}

a:hover,
a:focus {
  color: var(--accent);
  transition: 0.4s;
}

button {
  background: none;
  border: var(--border);
  color: var(--on-background);
  padding: 12px 24px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: var(--accent);
  transition: 0.4s;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

h2 {
  background: var(--accent);
  font-size: 32px;
  padding: 12px 0;
  width: 100%;
  transition: 0.4s;
}

h3 {
  font-size: 28px;
  margin-bottom: 32px;
}

p {
  line-height: 1.2;
  margin-bottom: 20px;
}

.border {
  border-bottom: var(--border);
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
/* END GLOBAL STYLES */

/* NAV STYLES */
nav {
  padding: 16px 32px;
}

.nav__logo {
  height: 50px;
}

.theme-switch-wrapper svg {
  font-size: 40px;
  margin-right: 20px;
}

.theme-switch {
  display: inline-block;
  position: relative;
  height: 34px;
  width: 60px;
}

.slider {
  background: var(--on-background);
  border-radius: 34px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
}

.slider::before {
  background: var(--background);
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--on-accent);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.nav-menu {
  position: absolute;
  top: 82px;
  right: 0;
  margin: 24px 32px;
  text-align: right;
}

.nav-menu a {
  display: block;
  margin-bottom: 12px;
}
/* END NAV STYLES */

/* SPLASH STYLES */
.splash {
  padding: 198px 0;
}

.splash__text {
  margin-bottom: 76px;
}

.splash__text p {
  font-size: 32px;
}

.splash__img {
  height: 300px;
}
/* END SPLASH STYLES */

/* ABOUT STYLES */
.about__text {
  padding: 96px 20%;
}

.about__text a {
  margin: 24px auto 0;
}

.skills > div {
  flex-grow: 1;
  padding: 48px 0;
}

.skills > div:first-child {
  border-right: var(--border);
}
/* END ABOUT STYLES */

/* PROJECTS STYLES */
.projects__grid {
  padding: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.projects__tile {
  aspect-ratio: 1/1;
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
  color: var(--on-tile);
}

.projects__tile > h3 {
  margin-bottom: 0;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.projects__tile:hover > h3 {
  display: none;
}

.projects__tile:hover > .projects__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 32px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects__overlay button {
  color: var(--on-tile);
  border-color: var(--on-tile);
}

.projects__footer {
  padding: 24px 48px;
  cursor: pointer;
}

.projects__footer:hover {
  background: var(--accent);
  transition: 0.3s;
}

.projects__footer img {
  background: var(--background);
  border: var(--border);
  max-height: 100px;
  aspect-ratio: 5 / 3;
  padding: 10px;
}
/* END PROJECTS STYLES */

/* CONTACT STYLES */
.contact__body {
  padding: 96px 20%;
  gap: 20%;
}
/* END CONTACT STYLES */

/* FOOTER STYLES */
footer {
  padding: 24px 0 48px;
  gap: 24px;
}

footer img {
  height: 100px;
}

.social-icons svg {
  height: 30px;
  margin: 0 12px;
}

[data-theme="light"] {
  --background: #ffffff;
  --accent: #02d5e0;
  --on-background: #222831;
  --border: 1px solid var(--on-background);
}

@media (max-width: 992px) {
  body {
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
    font-size: 18px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  nav {
    padding: 12px 24px;
  }

  .splash__text p {
    font-size: 24px;
  }

  .projects__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .about__text {
    padding: 96px 12%;
  }

  .projects__grid {
    grid-template-columns: 1fr;
    padding: 96px 48px;
  }

  .projects__footer {
    padding: 24px;
  }

  .projects__footer img {
    max-height: 75px;
  }

  .contact__body {
    flex-direction: column;
    padding: 96px 10%;
    gap: 24px;
  }
}
