@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary: #071952;
  --clr-on-primary: #EBF4F6;
  --clr-accent: #3cccda;
  --clr-accent-drk: #00505c;


  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-primary);
  color: var(--clr-on-primary);
}

a:hover {
  color: var(--clr-accent);
}

button {
  background: var(--clr-accent);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

hr {
  border-color: var(--clr-accent);
}

input, textarea {
  color: black;
}

main > *:nth-child(odd) {
  background-color: rgb(255 255 255 / .1);
}

.dev-tag {
  background-color: var(--clr-accent-drk);
  color: var(--clr-accent);
}

@media (min-width: 1024px) {
  :root {
    font-size: 16px;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
